{% extends 'base.html.twig' %}

{% block title %}Défaut{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col test">
            {{ form_row(form.name) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.pizzeria) }}
        </div>
    </div>
    {{ form_end(form) }}

    {% for pizza in allPizza %}
        <div>
            {{ pizza.id}}
            {{ pizza.name}}
        </div>
    {% endfor %}
{% endblock %}
